[Unit]
Description=Safeguard IO Application
After=docker.service
Wants=docker.service

[Service]
Type=simple
WorkingDirectory=/home/Alex/safeguard.io
ExecStartPre=-/usr/bin/docker compose down
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
